* {
  margin: 0;
  padding: 0,
}
  
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;
}
.container {
  min-width: 591px;
  min-height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid grey;
  border-radius: 10px;
  color: #898290;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 1rem 0 1rem;
}



.captions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 1rem 1rem 0 1rem;

}
.captions * {
display: flex;
align-items: center;
}
.caption-client::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem; 
  margin-right: 0.5rem;
  background-color: #4AB6E8;
  border-radius: 3px;
}
.caption-server::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem; 
  margin-right: 0.5rem;
  background-color: #AA6FAC;
  border-radius: 3px;
}
.caption-db::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem; 
  margin-right: 0.5rem;
  background-color: #E85498;
  border-radius: 3px;
}